[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["cd olhar_literario_django && python manage.py collectstatic --noinput"]

[start]
cmd = "cd olhar_literario_django && gunicorn olhar_literario_django.wsgi:application --bind 0.0.0.0:$PORT --workers 3 --threads 2 --timeout 300"
